<div class="container">
  <form action="#" method="POST" class="form" autocomplete="off">
  <div class="avatar">
    <img src="https://res.cloudinary.com/merobusts/image/upload/v1518264117/head-659651_640.png" alt="avatar">
  </div>
    <div class="form-item">
      <label for="email">Email</label>
      <input type="text" name="email" class="is-input" placeholder="Email" id="email" autocomplete="off">
    </div>
    <div class="form-item">
      <label for="password">Password</label>
     <input type="password" name="password" class="is-input" placeholder="Password" id="password">
    </div>
    <div class="form-item">
      <button (click)="loginPage()" type="submit" class="button is-button">Sign in</button>
    </div>
   <div class="form-item">
     <a href="#" class="button is-link">Forgot Password?</a>
   </div>
  </form>
</div>

<div *ngIf="isShowLoading" class="thanh" > 
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
      <div>
    
    


